@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 6px  #d8d8d83e;
    color : #707070;
    font-family: 'Lato', sans-serif;
}
.content_header {
    width: 1118px;
    display: flex;
    justify-content: space-between;
    
}

nav {
    height: 100px;
    
    
}
.logoHeader {
    display: flex;
    justify-content: left;
}
.menu {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-content: flex-start;
    align-items: center;
    position: relative;
    column-gap: 60px;
}
a {
    text-decoration: none;
    font-size: 16px;
}
.active {
    border-bottom: 3px solid #FC7E68;
    color: #FC7E68;
    font-weight: 600;
}

.items {
    color : #707070;
    cursor: pointer;
    text-decoration: none;
    
    height: 20px;
}

.items:hover {
    border-bottom: 3px solid #FC7E68;
    
}

ul {
    margin: 0;
}

.items:hover {
    color: #FC7E68;
    
}

@media  screan and (max-width: 500px) {
    .menu {
        flex-direction: column;
        height: 200px;
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 100px;
        border-bottom: 1px #fff;
        line-height: 50px;
    }
    .btn {
        display: block;
    }

}